@use 'mixins' as m;
@use 'screens' as sc;
@use 'read-bar';
@use 'nav-bars' as nvs;
@use 'scroll-up-btn';
@use 'btns-lugares';
@use 'btns-capitulos';
@use 'btns-logos';
@use 'lancer';

body {
    background-color: black;
    color: white;
    font-family: "UT/DR Text";
    font-size: 14px;
}

div.menu-mobile {
    @include sc.large-screens {
        display: none;
    }
}
div.menu-desktop, div.blank {
    @include sc.small-screens {
        display: none;
    }
}

@include nvs.burger;
@include nvs.menu;