@use 'screens' as sc;

.cap_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.cap_lista li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 8px;
    border-width: 2px;
    background-color: #1a1a1a;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
    width: auto;
    white-space: nowrap;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform;
}
.cap_lista a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
}
.cap_lista li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    pointer-events: none;
}

.cap_lista li:hover::before {
    animation: shine 0.8s forwards;
}

.cap_lista li:hover {
    border-color: yellow;
    background-color: #2a2a2a;
}
.cap_lista li.hovered {
    transform: perspective(1000px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

.cap_lista img {
    width: 70px;
    height: auto;
    object-fit: contain;
    z-index: 1;
    filter: brightness(1.2);
}

.cap_lista a {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    z-index: 1;
}
@include sc.large-screens {
    .cap_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cap_lista {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    
    .cap_lista li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 430px;
    }

    .cap_lista img {
        width: 60px;
    }
    
    .cap_lista a {
        font-size: 20px;
        text-align: center;
    }
}

@include sc.small-screens {
    .cap_lista {
        flex-direction: column;
        align-items: center;
    }
    .cap_lista li {
        width: 80%; /* Ocupan casi toda la pantalla */
        justify-content: center;
        white-space: normal;
        word-break: break-word;
    }
    .cap_lista img {
        width: 50px;
    }
    .cap_lista a {
        font-size: 18px;
    }
}