@use 'screens' as sc;
@use 'fuentes' as f;

@mixin center-flex {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

/*Aunque se llame así, puede ser usado en vista desktop*/
@mixin center-mobile {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@mixin center-block {
    text-align: center;
    display: block;
    margin: 0 auto;
}

@mixin special-imgs {
    max-width: 90%;
    margin: 0 auto;
    height: auto;
}

@mixin imgs-p-caps {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
}

@mixin ani-imgs {
    @keyframes reveal {
        from {
            opacity: 0;
            clip-path: inset(45% 20% 45% 20%);
        }
        to {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
        }
    }
}

@mixin tada-imgs-desktop {
    @keyframes tada {
        0% { transform: scale(1); }
        10%, 20% { transform: scale(0.9) rotate(-3deg); }
        30%, 50%, 70%, 90% { transform: scale(1.1) rotate(3deg); }
        40%, 60%, 80% { transform: scale(1.1) rotate(-3deg); }
        100% { transform: scale(1) rotate(0); }
    }
    .animatable:hover {
        animation: tada 1s;
    }
}

@mixin rev-imgs {
    /* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;
	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing-image;
	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;
}