@charset "UTF-8";
@font-face {
  font-family: "DELTARUNE";
  src: url(../fonts/logo_font_dr.ttf);
}
@font-face {
  font-family: "UT/DR Text";
  src: url(../fonts/text_font_utdr.ttf);
}
/*Aunque se llame así, puede ser usado en vista desktop*/
body {
  background-color: black;
  font-family: "UT/DR Text";
  font-size: 14px;
  color: white;
}

html {
  scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
#progress {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: darkblue;
  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sc = Screens */
/* sc = Screens */
/*m = mixins*/
.piano {
  display: flex;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .piano {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

body header img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  body header img {
    max-width: 90%;
    margin: 0 auto;
    height: auto;
  }
}
body video {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  /* Tweak range when effect should run*/
  animation-range: entry 25% cover 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

img.dog {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

img.fun_gang {
  display: flex;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  img.fun_gang {
    max-width: 90%;
    margin: 0 auto;
    height: auto;
  }
}

img.name_caps {
  text-align: center;
  display: block;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  img.name_caps {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

img.mundo_oscuro, img.field, img.forest, img.castillo, img.jevil, img.pueblo, img.ciudad, img.mansion, img.puzzle, img.rouxls, img.queen {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  /* Tweak range when effect should run*/
  animation-range: entry 25% cover 50%;
}
@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  img.mundo_oscuro, img.field, img.forest, img.castillo, img.jevil, img.pueblo, img.ciudad, img.mansion, img.puzzle, img.rouxls, img.queen {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  div.img_mundo_oscuro, div.img_field, div.img_forest, div.img_castillo, div.img_jevil, div.img_pueblo, div.img_ciudad, div.img_mansion, div.img_puzzle, div.img_rouxls, div.img_queen {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  div.logos {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  div.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  div.logos img {
    max-width: 50%;
    margin: 0 auto;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  div.logos img.ps4_logo {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  div.logos img.ps4_logo {
    margin-left: 20px;
  }
}

body section audio {
  text-align: center;
  display: block;
  margin: 0 auto;
}
body section a {
  text-decoration: none;
  color: yellow;
}
body ul.cap_lista {
  list-style: disc;
  color: yellow;
}
body p {
  text-align: justify;
}
body p.textdog {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 320px) and (max-width: 768px) {
  body p.textdog {
    display: none;
  }
}
body p.contacto {
  font-size: 30px;
  font-weight: 700;
}
body p.dont_forget {
  font-weight: 800;
}
body p.email {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
body h1.titulos {
  text-align: center;
  display: block;
  margin: 0 auto;
}
body h2.titulos_tracks {
  color: yellow;
  text-align: center;
}
body article ul a {
  text-decoration: none;
  color: white;
}
body strong {
  font-weight: 400;
}
body strong.issue {
  color: red;
}
body strong.resolve {
  color: #00FF00;
}
body footer {
  font-size: 8px;
  text-align: center;
  color: gray;
}
@media (min-width: 320px) and (max-width: 768px) {
  body footer {
    font-size: 6px;
  }
}
body footer a {
  text-decoration: none;
  color: gray;
}
body footer p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
