

body section a {
    text-decoration: none;
    color: yellow;
}

ul.cap_lista {
    list-style: disc;
    color: yellow;
}

body p {
    text-align: justify;
}

/* Esto es para que el p.textdog no se muestre en móvil porque se pierde el chiste por el tamaño de la imagen */
@media (min-width: 320px) and (max-width: 768px) {
    p.textdog {
        display: none;
    }
}

p.textdog {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 800;
}

h1.titulos {
    text-align: center;
    display: block;
    margin: 0 auto;
}

article ul a {
    text-decoration: none;
    color: white;
}

/* Esto ajusta la imagen de Rouxls para la vista móvil */
@media (min-width: 320px) and (max-width: 768px) {
    img.rouxls {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
    }
}

/* Esto ajusta la imagen y el texto de Rouxls para la vista desktop */
@media (min-width: 1024px) {
    div.img_rouxls {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
}

/* Esto ajusta la imagen de Queen para la vista móvil */
@media (min-width: 320px) and (max-width: 768px) {
    img.queen {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
    }
}

/* Esto ajusta la imagen y el texto de Queen para la vista desktop */
@media (min-width: 1024px) {
    div.img_queen {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 10px;
    }
}

/* Esto ajusta el video para la vista de móvil */
@media (min-width: 320px) and (max-width: 768px) {
    body video {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
    }
}

body video {
    text-align: center;
    display: block;
    margin: 0 auto;
}

p.contacto {
    font-size: 30px;
    font-weight: 700;
}

p.dont_forget {
    font-weight: 800;
}

/**Los strong fueron utilizados para dar color a dos únicas palabra en diferentes partes del texto que llevaban diferentes colores**/
strong.issue {
    color: red;
    font-weight: 400;
}

strong.resolve {
    color: #00FF00;
    font-weight: 400;
}

p.email {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2.titulos_tracks{
    color: yellow;
    text-align: center;
}

section audio {
    text-align: center;
    display: block;
    margin: 0 auto;
}

footer {
    font-size: 8px;
    text-align: center;
    color: gray;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: gray;
}

/* Esto ajusta el footer para móvil */
@media (min-width: 320px) and (max-width: 768px) {
    footer {
        font-size: 6px;
    }
}